.navbar {
    min-height: 60px;
}

.navbar-default {
    border-bottom: none;
    margin-bottom: 0px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 21px #161616;
}

.navbar-header .navbar-brand {
    width: 200px;
    background-color: #F6A720;
    height: 60px;
    padding: 20px 25px;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.navbar-header .navbar-brand:hover {
    background: #f5a212;
}

.navbar-header .navbar-brand span {
    letter-spacing: normal;
    float: right;
    font-size: 12px;
    margin-left: -15px;
    color: #fce2b4;
}


.navbar-nav > li > a {
    padding: 20px 15px;
    text-transform: uppercase;
    font-weight: 500;
    height: 60px;
}

.navbar-default .navbar-nav > li > a {
    color: #6a727a;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}

.navbar-form {
    margin-top: 11px;
    padding: 0;
}

.navbar-form .form-control {
    background-color: #ffffff;
}

.navbar-form input.form-control {
    border: none;
    box-shadow: none;
    color: #949ba2;
}

.navbar button.navbar-toggle {
	display: block !important;
	margin: 0px;
	padding: 0px 15px;
	border: 0px;
	height: 60px;
}

.navbar button.navbar-toggle span {
	background-color: #949ba2;
}

.navbar button.navbar-toggle:hover,
.navbar button.navbar-toggle:focus {
	background-color: transparent;
}

.navbar button.navbar-toggle:hover span {
	background-color: #F6A720;
}