#menu {
    margin-top: 60px;
    background-color: #24262d;
    width: 200px;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    transition: left 0.3s ease-out;
    -webkit-transition: left 0.3s ease-out;
}

#menu:before {
	transition: left 0.3s ease-out;
    -webkit-transition: left 0.3s ease-out;
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: -1;
    left: 0;
    background-color: #24262d;
    width: 200px;
}

#menu nav {
	background-color: #2a2d35;
}

#menu ul {
	padding: 15px 0px;
	list-style: none;
}

#menu ul li {

}

#menu ul li a {
	text-decoration: none;
}

#menu ul li > a{
	color: #848c94; 
	display: block;
	padding: 8px 15px 8px 25px;
	margin: 0 0;
	cursor: pointer;
}
	
#menu ul li.active > a {
	border-left: 6px solid #f6a821;
    padding-left: 19px;
    color: #c0c4c8;
}

#menu ul li.category {
	color: #FFFFFF;
	margin-top: 10px;
	padding: 8px 15px 8px 25px;
    margin: 0 0;
}