<aside class="navigation">
	<nav>
		<ul class="nav luna-nav">
			<li class="nav-category">
				Main
			</li>
			<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
				<a [routerLink]="['/dashboard']">Dashboard</a>
			</li>
			<li class="nav-category">
				Audio
			</li>
			<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
				<a [routerLink]="['/fragmentifier']">Fragmentifier</a>
			</li>
			<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
				<a [routerLink]="['/overview']">Overview</a>
			</li>

			<li class="nav-category" [hidden]="!isAdmin">
				Admin
			</li>
			<li [hidden]="!isAdmin" [routerLinkActive]="['admin/users']" [routerLinkActiveOptions]="{exact:true}">
				<a [routerLink]="['/admin/users']">Users</a>
			</li>
			<li [hidden]="!isAdmin" [routerLinkActive]="['admin/sources']" [routerLinkActiveOptions]="{exact:true}">
				<a [routerLink]="['/admin/sources']">Sources</a>
			</li>
			<li [hidden]="!isAdmin" [routerLinkActive]="['admin/fragments']" [routerLinkActiveOptions]="{exact:true}">
				<a [routerLink]="['/admin/fragments']">Fragments</a>
			</li>
			<li [hidden]="!isAdmin" [routerLinkActive]="['admin/words']" [routerLinkActiveOptions]="{exact:true}">
				<a [routerLink]="['/admin/words']">Words</a>
			</li>

			<li class="nav-info">
				<!-- <i class="pe pe-7s-shield text-accent"></i> -->
				<img src="/favicon.ico" width="32" height="32">

				<div class="m-t-xs">
					<span class="c-white">BUMBLEBEE</span> 
					A bot for discord to make your ears bleed.
				</div>
			</li>
		</ul>
	</nav>
</aside>