<div class="jumbotron">
	<h1>Bumblebee</h1>
	<p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
	<!--<p><a class="btn btn-primary btn-lg">Learn more</a></p>-->
	<!--<form (submit)="" class="form-horizontal">
    <div class="form-group">
      <label for="inputTTS" class="col-lg-2 control-label">Text</label>
      <div class="col-lg-10">
        <input type="text" [(ngModel)]="tts" name="tts" class="form-control" id="inputTTS" placeholder="Text to speech">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary">Try me</button>
        <div id="tts-waveform"></div>
      </div>
    </div>
  </form>-->
</div>