<div class="fluid-container">
		<div class="row">
			<div class="col-lg-12">
				<div class="view-header">
					<div class="header-icon">
						<i class="pe page-header-icon pe-7s-display1"></i>
					</div>
					<div class="header-title">
						<h3 class="m-b-xs">Dashboard</h3>
						<small>
							Your personal dashboard
						</small>
					</div>
				</div>
				<hr>
			</div>
		</div>
	</div>
	

<div class="well fluid-container">
	<h4 class="">Your statistics go here</h4>
	<small>
		Soon(tm)
	</small>
</div>
